# Default ignored files
/../../../../../../INHA~1.808/AppData/Local/Temp/python-3.8.0-amd64.exe4090081014748608976/.idea/shelf/
/../../../../../../INHA~1.808/AppData/Local/Temp/python-3.8.0-amd64.exe4090081014748608976/.idea/workspace.xml
